.tc-l h2 {
    color: #000000 !important;
}

  .pb6-l {
    padding-bottom: 2rem !important;
  }
  .flex-l a{
    color: rgb(0, 0, 0) !important;
}
.tc-l h1 {
  color: #000000 !important;
}
.tc-l f2 {
  color: rgb(0, 0, 0) !important;
}


.dib-ns {
  display: inline-block;
  color: rgb(0, 0, 0);
}


/* h2 {
    color: #ffffff !important;
} */
